<h1>Song Catalogue</h1>

<input type="text" name="song-search" id="song-search" (keyup)="filter(searchValue)" #searchValue>

<div>
    <li class="song" *ngFor="let song of songsList">

        <div class="title-container"
             (click)="toggleDetails(song)">

            <h2 >
                {{song.title | titlecase}}  
            </h2>
            
            <span *ngIf="song.tags" class="tag-container">
                tags: <span class = "tag" *ngFor="let tag of song.tags">{{tag}} </span>
            </span>
        </div>
    
        <app-lyrics
            [hidden]="!displayDetails[song.id]"
            [song]="song"
            id="{{song.id}}">
        </app-lyrics>
    </li>
</div>