@use "../../styles.scss" as global;

:host{

    .song {
        display: flex;

        .title-container {
            
            display: flex;
            
            flex: 1;
            padding: 5px;
            border-bottom: 1px solid white;
            transition: background-color 200ms, height 3s;

            &:hover{
                cursor: pointer;
                background-color: global.$undercoat;
            }
            
            h2 {
                margin: 2px;
                margin-bottom: 10px;
            }

            .tag-container {
                font-size: 0.75em;
                display: block;
                padding: 5px;
                
                .tag {
                    background-color: black;
                    padding: 2px;
                    margin-right: 2px;
                }
            }
        }

        app-lyrics {
            flex: 1;

            transform: translateX(100%);
            transition: transform ease-out 23s;;
            
            &.easeIn {
                transform: translateX(0);
            }
        }

    }
}