<h1>Song Catalogue</h1>

<ol>
    <li class="song" *ngFor="let song of songs">
        <div class="title-container"
             (click)="toggleDetails(song)">
            <h2 >
                {{song.title | titlecase}}  
            </h2>

            <span *ngIf="song.tags" class="tag-container">
                tags: <span class = "tag" *ngFor="let tag of song.tags">{{tag}} </span>
            </span>
        </div>

        <app-song-detail
            *ngIf="displayDetails[song.id]"  
            [song]="song">
        </app-song-detail>
    </li>
</ol>