/* You can add global styles to this file, and also import other style files */
$canvas : #800000;
$undercoat : #600000;


html, body{
    margin: 0;
    background-color: maroon;
    color: white;
    width: 96%;
    height: 96%;
}

body {
    margin: 0px 2%;
}